$clr_white: rgb(255, 255, 255);
$clr_black: #000000;
$clr_gray: rgb(116, 116, 116);
$clr_light_gray: #c9c9c9;
$clr_main: rgb(134, 252, 0);
$clr_light_main: rgba(134, 252, 0, 0.705);
$clr_main_transparent: rgb(216, 255, 172);
$clr_red: #ff0000;